@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@300;400;500;700&display=swap');

:root{
--primary: #fe2c55;
--black: #000;
--white: #fff;
--text-color: #161823;
--font-family: 'M PLUS Rounded 1c', sans-serif;


// Default Layout
--default-layout-header-height: 60px;
--default-layout-width: 1150px;
--default-layout-horizontal-spacer: 24px;

}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
font-size: 62.5%;
}
body{
    font-family: var(--font-family);
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizespeed;
    color: var(--text-color);
    overflow-y: overlay;
}

// Scroll Bar on body 
html ::-webkit-scrollbar {
    border-radius: 0px;
    width: 8px;
}
html *::-webkit-scrollbar {
    border-radius: 0;
    width: 8px;
}
html ::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(22, 24, 35, 0.06);
}
html *::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(22, 24, 35, .06);
}
html ::-webkit-scrollbar-track {
    border-radius: 0px;
    background-color: rgba(0, 0, 0, 0);
}
html *::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
}

button,
input,
[tabindex] {
    outline: none;
    border: none;
}

a[href] {
    color: var(--text-color);
    text-decoration: none;
}

// Embed font
// @font-face {
//     font-family: "IBM Plex Sans", TikTokFont, Arial, Tahoma, PingFangSC, sans-serif;;
//     src: url(/src/assets/font/bold.har);
// }
// Custom Tippy 
body{

 .tippy-box{
    color: #fff;
    text-align: center;
    // height: 38px;
    border-radius: 8px;
    font-style: 1.6rem;
    font-weight: 600;
background-color: rgba(84, 84, 84, 0.92);

}
.tippy-content{
    padding: 8px 9px;
}
// .tippy-arrow{
  
//     color: rgba(84, 84, 84, 0.92);
// }

}